@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Plugins que opcionalmente instaló en el paso 4 */
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Modo oscuro basado en clases */
@variant dark (&:where(.dark, .dark *));

/* Personalización del color de fondo en modo oscuro */
/* .dark {
  --tw-bg-opacity: 1;
  background-color: #0f0f10;
}

.dark body {
  background-color: #0f0f10;
} */